* {
	margin: 0;
	padding: 0;
}

html {
	overflow-x: hidden;
	scroll-behavior: smooth;
}

body {
	font-family: "Noto Sans";
	width: 100vw;
}

ul li a {
	text-decoration: none;
	color: rgba(22, 22, 23, .8);
}

/* ---- Header Styling ---- */


#header {
	position: fixed;
	background-color: white;
	width: 100%;
	z-index: 5;
}

#navbar {
	background: transparent;
}

#navbar ul {
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
	list-style: none;
	text-align: center;
}

#navbar ul li {
	text-align: center;
	margin: 25px 35px 25px 35px;
	font-size: 25px;
	font-weight: bold;
}

#navbar ul li a:hover {
	color: #565656;
}

#menu-button {
	display: none;
}



/* ---- Hero Styling ---- */

#welcome-section {
	/* Positioning */
	position: relative;
	background-image: url('../images/back.png');
	background-size: cover;
    background-repeat: no-repeat;

	/* width: 100vw; */
	height: 97vh;

	/* hero-header flexbox */
	display: flex;
	justify-content: center;
	align-items: center;

	/* Texy style */
	text-align: center;
	color: brgba(22, 22, 23, .8)lack;
	
}

#home {
	font-size: 1em;
	font-family: cursive;
	position: absolute;
    left: 20%;
}

.heading {
	color: rgba(22, 22, 23, .8);
	;
	font-size: 2rem;
	padding-bottom: 1rem;
	font-weight: bold;
}

.side-heading {
	font-weight: bold;
}

.btn2 {
	display: inline-block;
	font-weight: 400;
	line-height: 1.25;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	border-radius: 0.25rem;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.btn-primary2 {
	color: #fff;
	background-color: rgba(22, 22, 23, .8);
	/* border-color: #0275d8; */
}

.btn-primary2:hover {
	background-color: white !important;
	border-color: rgba(22, 22, 23, .8);
	color: rgba(22, 22, 23, .8);
	;
	cursor: pointer;
	font-weight: bold;
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
}

#about-me {
	padding-top: 5rem;
}

#about-me .text {
	padding-bottom: 1rem;
}

.card ul {
	list-style-type: none;
}

#about-me .profile-pic {
	border: 10px solid rgba(22, 22, 23, .8);
	;
}

#about-me .social-icon {
	color: rgba(22, 22, 23, .8);
	;
	padding-left: 0.5rem;
	font-size: 2rem;
	cursor: pointer;
}

#about-me .social-icon:hover {
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
}

#experience {
	padding-top: 5rem;
	width: 600px;
}

#education {
	padding-top: 5rem;
	width: 600px;
}

#education .active {
	background-color: rgba(22, 22, 23, .8);
	;
	border-color: rgba(22, 22, 23, .8);
	;
}

#portfolio {
	padding-top: 5rem;
}




/* reponsive Code Section
  @media (max-width: 768px) {
  
    [class*="col-"] {
        margin-bottom: 2rem;
    }
  
  }
   */

#moving-arrow {
	position: absolute;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	bottom: 0;
	width: 3%;
}



/* ---- Projects Styling ---- */

#projects-container {
	margin: auto;
	width: 100%;
	/* margin-top: 7%; */
}

#projects {
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

#title-and-separator {
	margin-top: 7%;
	margin-bottom: 3%;
	width: 100%;
	text-align: center;
}

#title-and-separator hr {
	margin: auto;
	margin-top: 3%;
	width: 100%;
}

.project {
	position: relative;
	display: flex;
	align-items: center;
	width: 30%;
	margin: 1% 7% 1% 7%;
}

#image-subtitle {
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 25px;
	color: white;
}

#overlay-container {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #242424;
	opacity: 0.8;
}

.project-image {
	width: 100%;
	height: 100%;
	box-shadow: 2px 2px 5px #bebebe;
}

/* Projects One and Two */

#first-two {
	overflow-x: auto;
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}


/* Projects Three and Four */

#second-two {
	overflow-x: auto;
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

/* Projects Five and Six */

#third-three {
	overflow-x: auto;
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

/* Projects Seven and Eight */

#fourth-four {
	overflow-x: auto;
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

/* Projects Nine and Ten */

#fifth-five {
	overflow-x: auto;
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

/* Projects Eleven and Twelve */

#sixth-six {
	overflow-x: auto;
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

#project-eleven,
#project-twelve,
#project-thirteen {
	width: 15%;
}

#project-eleven p,
#project-twelve p,
#project-thirteen p {
	font-size: 20px;
}


/* ---- Footer styling ---- */

footer {
	box-shadow: 1px 2px 15px #bebebe;
	margin-top: 4%;
	color: #858585;
	text-align: center;
}

footer p {
	padding: 0.5%;
}










/*-------------------------------------- contact us page--------------------------------------------------*/

li,
ul {
	list-style: none;
	padding: 0;
	margin: 0
}

.sec-title {
	position: relative;
	padding-bottom: 40px
}

.sec-title .title {
	position: relative;
	font-size: 18px;
	font-weight: 700;
	padding-right: 50px;
	margin-bottom: 15px;
	display: inline-block;
	text-transform: capitalize
}

.sec-title .title:before {
	position: absolute;
	content: '';
	right: 0;
	bottom: 7px;
	width: 40px;
	height: 1px;
	background-color: #bbb
}

.sec-title h2 {
	position: relative;
	color: #252525;
	font-size: 36px;
	font-weight: 700;
	line-height: 1.5em;
	display: block
}

.sec-title.light h2 {
	color: #fff
}

.contact-page-section {
	position: relative;
	/* padding-top: 0px; */
	/* padding-bottom: 110px; */
	margin-top: 60px;
}

.fa.fa-paper-plane {
	color: black;
}

.contact-page-section .inner-container {
	position: relative;
	z-index: 1;
	box-shadow: 0 0 15px 5px rgba(0, 0, 0, .1);
	margin-bottom: 20px;
}

.contact-page-section .form-column {
	position: relative;
}

.inner-container .row {
	margin: 0px;
}

.form-column {
	padding: 0px;
}

.contact-page-section .form-column .inner-column {
	position: relative;
	padding: 60px 45px 30px;
	background-color: #fff;
	height: 100%;
}

.contact-page-section .info-column {
	position: relative;
	background-color: rgba(22, 22, 23, .8);
}

.contact-page-section .info-column .inner-column {
	position: relative;
	padding: 60px 35px;
}

.contact-page-section .info-column h2 {
	position: relative;
	color: #fff;
	font-size: 30px;
	font-weight: 700;
	line-height: 1.4em;
	margin-bottom: 45px
}

.contact-page-section .info-column .list-info {
	position: relative;
	margin-bottom: 60px;
	list-style-type: none;
}


.contact-page-section .info-column .list-info li a {
	color: white;
}

.contact-page-section .info-column .list-info li {
	position: relative;
	margin-bottom: 25px;
	font-size: 18px;
	color: #fff;
	line-height: 1.8em;
}

.contact-page-section .info-column .list-info li:last-child {
	margin-bottom: 0
}

.contact-page-section .info-column .list-info li i {
	position: absolute;
	left: 0;
	top: 8px;
	color: #fff;
	font-size: 30px
}

.contact-form {
	position: relative
}

.contact-form .form-group {
	position: relative;
	margin-bottom: 20px;
}

.contact-form input[type=text],
.contact-form input[type=email],
.contact-form textarea {
	position: relative;
	display: block;
	width: 100%;
	height: 60px;
	color: #222;
	font-size: 14px;
	line-height: 38px;
	padding: 10px 30px;
	border: 1px solid black;
	background-color: #fff;
	transition: all .3s ease;
	-ms-transition: all .3s ease;
	-webkit-transition: all .3s ease
}

.contact-form input[type=text]:focus,
.contact-form input[type=email]:focus,
.contact-form textarea:focus {
	border-color: #00b8ca
}

.contact-form textarea {
	height: 250px;
	resize: none
}

.contact-form .theme-btn {
	font-size: 16px;
	font-weight: 700;
	margin-top: 10px;
	text-transform: capitalize;
	padding: 16px 39px;
	border: 2px solid #2a3334;
	font-family: Arimo, sans-serif;
	background: #070707;
	display: inline-block;
	position: relative;
	line-height: 24px;
	cursor: pointer;
	color: #fff
}

.contact-form .theme-btn:hover {
	color: white;
	border-color: #070707;
	background: 0 0;
	color: #070707;
}

.contact-form input.error,
.contact-form select.error,
.contact-form textarea.error {
	border-color: red !important
}

.contact-form label.error {
	display: block;
	line-height: 24px;
	padding: 5px 0 0;
	margin: 0;
	text-transform: uppercase;
	font-size: 12px;
	color: red;
	font-weight: 500
}

.social-icon-four {
	position: relative
}

.social-icon-four li {
	position: relative;
	margin-right: 18px;
	display: inline-block
}

.social-icon-four li.follow {
	color: #fff;
	font-weight: 600;
	font-size: 24px;
	display: block;
	margin-bottom: 20px
}

.social-icon-four li a {
	position: relative;
	font-size: 20px;
	color: #fff;
	-webkit-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease
}

.social-icon-four li a:hover {
	color: #222
}


/* menu */

#menu-button ul {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	background-color: #fff;
}

#menu-button .responsive-navbar {
	clear: both;
	max-height: 100%;
	transition: max-height .2s ease-out;
}

/* menu icon */

#menu-button .menu-icon {
	cursor: pointer;
	display: inline-block;
	float: right;
	padding: 28px 20px;
	position: relative;
	user-select: none;
}

#menu-button .menu-icon .navicon {
	display: block;
	width: 50px;
	height: 6px;
	margin: 8px;
	position: relative;

	background: #cdcdcd;
	border-radius: 3px;

	z-index: 1;

	transform-origin: 4px 0px;

	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
		background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
		opacity 0.55s ease;
}

.menu-icon input:checked~span {
	opacity: 1;
	transform: rotate(45deg) translate(-2px, -1px);
	background: #232323;
}

#menu-button .menu-icon .navicon:before,
#menu-button .menu-icon .navicon:after {
	background: #333;
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	transition: all .2s ease-out;
	width: 100%;
}

#menu-button .menu-icon .navicon:before {
	top: 5px;
}

#menu-button .menu-icon .navicon:after {
	top: -5px;
}

/* menu btn */

#menu-button .menu-btn {
	display: none;
}

#menu-button .menu-btn:checked~.responsive-navbar {
	max-height: 240px;
}

#menu-button .menu-btn:checked~.menu-icon .navicon {
	background: transparent;
}

/* #menu-button .menu-btn:checked~.menu-icon .navicon:before {
	transform: rotate(-45deg);
}

#menu-button .menu-btn:checked~.menu-icon .navicon:after {
	transform: rotate(45deg);
} */

#menu-button .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
#menu-button .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
	top: 0;
}


@media screen and (max-width: 450px) {

	body{
		padding: 0 10% ;
	}
	ul li a {
		font-size: 2em;
		font-family: cursive;
	}

	#menu-button {
		display: block;
	}

	/* ---- Header Styling ---- */


	#menu-button .responsive-navbar {
		clear: none;
		float: right;
		max-height: none;
	}

	#header {
		display: none;
		position: fixed;
		width:20%;
		right: 0;
	}

	#responsive-header {
		position: fixed;
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		background-color: white;
		width: 100%;
		z-index: 5;
	}

	#responsive-header p {
		text-align: center;
		margin: 25px 35px 25px 35px;
		font-size: 25px;
	}

	#menu-button:hover {
		cursor: pointer;
	}

	#navbar {
		display: none;
	}

	#responsive-navbar {
		display: flex;
		flex-flow: column;
		justify-content: center;

	}

	#responsive-navbar {
		list-style: none;
	}

	#responsive-navbar li {
		text-align: center;
		margin: 25px 35px 5px 35px;
		font-size: 18px;
		width: 100%;
		display: block;
	}

	#responsive-navbar li:hover {
		cursor: pointer;
	}


	/* ---- Hero Styling ---- */
	#welcome-section {
		position: relative;
	}
	#welcome-section::before {
		/* Positioning */
		content: '';
		position: absolute;
		width: 100%;
		height: 100vh;
		background-image: url('../images/img-mobile.png');
		background-size: cover;
		backdrop-filter: blur();
		z-index: -1; /* Ensure the overlay stays behind the content */
    	opacity: 0.8;
		
		
		/* hero-header flexbox */
		display: flex;
		justify-content: center;
		align-items: center;

		/* Texy style */
		text-align: center;
		color: rgba(22, 22, 23, .8);
	}

	#welcome-section-title {
		font-size: 3.5em;
	}

	img {
		margin: 10%;
	}

	#home {
		position: absolute;
		bottom: 20%;
		margin-right: 25%;
	}

	#moving-arrow {
		position: absolute;
		display: flex;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		bottom: 0;
		width: 12%;

	}


	/* ---- Projects Styling ---- */

	#projects {
		display: flex;
		flex-flow: column;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
		margin-top: 10%;
	}

	.project {
		position: relative;
		display: flex;
		align-items: center;
		width: 90%;
		margin: 1% 7% 1% 7%;
		margin-top: 10%;
	}

	#title-and-separator {
		text-align: center;
		margin-top: 7%;
		margin-bottom: 3%;
	}

	#title-and-separator hr {
		margin: auto;
		margin-top: 3%;
		width: 30%;
	}

	#fifth-five {
		width: 100%;
	}
	#education{
		width: 100%;
	}
	#experience{
		width: 100%;
	}
	.contact-page-section{
		width: 100%;
	}
	.contact-page-section .info-column {
		width: 100%;
	}
	.contact-page-section .form-column .inner-column{
		padding: 10% 10%;
	}
	.contact-page-section .info-column .list-info li{
		font-size: 30%;
	}
	h2{
		display: none;
	}
	

}