<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Portfolio</title>
	<link rel="stylesheet" type="text/css" href="..\assets\css/css.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
		integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
</head>

<body>
	<header id="header">

		<nav id="navbar">
			<ul>
				<li>
				<li><a href="#"> Home </a>
				<li>
				<li><a href="#projects-container"> About </a>
				<li>
				<li><a href="#fifth-five"> Contact </a>
				<li>
			</ul>
		</nav>


		<div id="menu-button">

			<input class="menu-btn" type="checkbox" id="menu-btn" />
			<label class="menu-icon" for="menu-btn">
				<span class="navicon" id="checkboxIcon"></span>
				<span class="navicon" id="checkboxIcon"></span>
				<span class="navicon" id="checkboxIcon"></span>
			</label>

			<ul id="responsive-navbar">
				<li></li>
				<li><a href="#"> Home </a>
				</li>
				<li><a href="#projects-container"> About </a>
				</ll>
				<li><a href="#fifth-five"> Contact </a>
				</li>
			</ul>

		</div>

	</header>



	<!-- Hero Image, text & button -->

	<div id="welcome-section">
		<div id="welcome-section-content">
			<!-- *****************************Home section Start************************************* -->
			<div class="d-flex flex-row" id="home">
				<div class="flex-lg-column">
					<h1 class="typewrite home-heading" data-period="2000"
						data-type='[ "Hi! I&#39;m Kanwaljit Singh.", "I am a web desginer."]'>
						<span class="wrap"></span>
					</h1>
				</div>
			</div>
			<!-- *****************************Home section End************************************* -->
			<a href="#projects-container"><img src="https://i.ibb.co/Bs9xGdV/arrow-icon.png" alt="Next Section Arrow"
					id="moving-arrow" /></a>

		</div>

	</div>


	<!-- Projects Section -->

	<div id="projects-container">
		<div id="projects">

			<div id="title-and-separator">
				<h1> About me.. </h1>
				<hr />
			</div>

			<!-- Actions & Nebula Backgrounds -->

			<div class="container">
				<div class="row" id="about-me">
					<div class="col-md-12 col-lg-4">
						<div class="heading">
							My story
						</div>
						<div class="text" id="resume">
							Hello, I’m a Web Developer from Brampton, Canada. I hold a master degree in computer science
							from the University.

						</div>
						<div class="resume">
							<a href="..\assets\files/CV.pdf" target="_blank">
								<button class="btn btn-primary2">
									<span>
										<i class="fa fa-cloud-download"></i>
										Download Resume
									</span>
								</button>
							</a>
						</div>
					</div>

					<div class="col-md-12 col-lg-4">
						<img src="..\assets\images\img.png" height="250px" width="250px" class="profile-pic rounded-circle" />
					</div>

					<div class="col-md-12 col-lg-4">
						<div class="heading">
							Personal Information
						</div>
						<div>
							<span class="side-heading">Name:</span> Kawalkit Singh
							<hr>
							<span class="side-heading">Age:</span> 24 Years
							<hr>
							<span class="side-heading">Phone:</span> <a href="tel: 4163583633">+1 (416)358-3633</a>
							<hr>
							<span class="side-heading">Email:</span> <a href="mailto:gognakamal23@gmail.com">gognakamal23@gmail.com</a>
							<hr>
							<span class="side-heading">Social:</span>
							<a href="#" target="_blank"><i class="fa fa-facebook-square social-icon"
									data-toggle="tooltip" data-placement="top" title="Facebook"></i></a>
							<a href="#" target="_blank"><i class="fa fa-twitter-square social-icon"
									data-toggle="tooltip" data-placement="top" title="Twitter"></i></a>
							<a href="#" target="_blank"><i class="fa fa-instagram social-icon" data-toggle="tooltip"
									data-placement="top" title="Instagram"></i></a>
							<a href="#" target="_blank"><i class="fa fa-linkedin-square social-icon"
									data-toggle="tooltip" data-placement="top" title="LinkedIn"></i></a>
							<a href="#" target="_blank"><i class="fa fa-github-square social-icon" data-toggle="tooltip"
									data-placement="top" title="Github"></i></a>
						</div>
					</div>
				</div>
			</div>
			<hr>
			<!-- *****************************About-Me section End************************************* -->
			<!-- *****************************Education section Start************************************* -->
			<div class="container" id="education">
				<div class="heading">
					Education
				</div>
				<div class="list-group">
					<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
						<div class="d-flex w-100 justify-content-between">
							<h5 class="mb-1">Graduation </h5>
							<small>2002 - 2005</small>
						</div>
						<p class="mb-1">Computer Science & Systems Engineering</p>
						<small>Punjab University | Patiala</small>
					</a>
					<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
						<div class="d-flex w-100 justify-content-between">
							<h5 class="mb-1">Intermediate Education</h5>
							<small>2001 - 2002</small>
						</div>
						<small>Naraya Junior College | Patiala</small>
					</a>
					<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
						<div class="d-flex w-100 justify-content-between">
							<h5 class="mb-1">Senior Secondary School</h5>
							<small>2008</small>
						</div>
						<small>S.B.S.O School | Patiala</small>
					</a>
				</div>
			</div>
			<hr>
			<!-- *****************************Education section End************************************* -->
			<!-- *****************************Experience section Start************************************* -->
			<div class="container" id="experience">
				<div class="heading">
					Experience
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="card">
							<h3 class="card-header">RubyEffect Software Solutions Pvt. Ltd.</h3>
							<div class="card-block">
								<h5 class="card-title">Junior Software Engineer (January 2016 - Present)</h5>
								<ul>
									<li>
										Provided continued maintenance and development of existing web applications.
									</li>
									<li>
										I was one of the developers who started building an In-house project developed
										in Rails.
									</li>
									<li>
										Along with the team and under the guidance of my Manager, I had implemented many
										features and added enhancements to compete with market standards.
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-lg-12">
						<div class="card">
							<h3 class="card-header">Freelance Web developer</h3>
							<div class="card-block">
								<h5 class="card-title"> May 2015 - December 2015</h5>
								<ul>
									<li>
										I opted to be a freelancer during my college days for six months to gain working
										knowledge on client requirements.
									</li>
									<li>
										I tired hard for convincing and getting small projects from local business
										people.
									</li>
									<li>
										I had built websites for their business improving their market in the city.
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<hr>
			<!-- *****************************Experience section End************************************* -->

			<div id="fifth-five">
				<section class="contact-page-section" id="hide_mobile">
					<div class="container">
						<div id="title-and-separator">
							<h1> Contact </h1>
							<hr />
						</div>

						<div class="inner-container">
							<div class="row clearfix">

								<!--MAP-->
								<div class="form-column col-md-8 col-sm-12 col-xs-12">
									<div class="inner-column">
										<iframe
											src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2884.029025248205!2d-79.70859082399457!3d43.709945871099464!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b3dd83a93553b%3A0x7fcdd4934116812e!2sAddington%20Crescent%2C%20Brampton%2C%20ON!5e0!3m2!1sen!2sca!4v1710974710398!5m2!1sen!2sca"
											width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
											referrerpolicy="no-referrer-when-downgrade"></iframe>
										<!--End MAP-->
									</div>
								</div>

								<!--Info Column-->
								<div class="info-column col-md-4 col-sm-12 col-xs-12">
									<div class="inner-column">
										<h2>Contact Info:</h2>
										<ul class="list-info">
											<li><a href="https://maps.app.goo.gl/Xfcvh6nhFUALKNvq6">36 Addington Crescent, Brampton, ON L6T 2R3</a></li>
											<li><a href="mailto:gognakamal23@gmail.com">gognakamal23@gmail.com</a>
											</li>
											<li> <a href="tel: 4163583633">+1 (416)358-3633</a></li>
										</ul>
										<h2>Follow On:</h2>
										<ul class="social mb-0 list-inline mt-3">
											<li class="list-inline-item"><a href="#" class="social-link"><i
														class="fa fa-facebook-f"></i></a></li>
											<li class="list-inline-item"><a href="#" class="social-link"><i
														class="fa fa-twitter"></i></a></li>
											<li class="list-inline-item"><a
													href="https://www.instagram.com/sukhdev__rajput/#"
													class="social-link"><i class="fa fa-instagram"></i></a></li>
											<li class="list-inline-item"><a href="#" class="social-link"><i
														class="fa fa-linkedin"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>



			</div>


		</div>
	</div>

	<footer>
		<p> Page made by Kanwaljit Singh.</p>
	</footer>

	<!-- JavaScript/jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="..\assets\js/jquery.js"></script>

</body>

</html>